@using System.Diagnostics.CodeAnalysis
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row">
    <div class="header-img navbar-brand">
        <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i>
        <span>技术支持服务报表</span>
    </div>
</header>

@Body



@code
{
}