@using System.Diagnostics.CodeAnalysis
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row">
    <div class="header-img navbar-brand">
        <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i>
        <span>技术支持服务报表</span>
    </div>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="index">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="report">报表</a>
            </li>
        </ul>
    </div>

</header>

@Body